@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap");


:root{

    --yt-bg-color: #121012;
    --yt-main-color: #009929;
    --yt-sub-text-color: #ffffff;
    --yt-nav-bg-color : #18181818;

}


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: "Roboto Slab", serif;
    
}

html {
    font-size: 62.5%;
    height: 100%;
}

body {
    background: var(--yt-bg-color);
    height: 100%;
}

#root{
    height: 100%;
}